[submodule "app/webroot/css/inuit"]
	path = app/webroot/css/inuit
	url = git://github.com/csswizardry/inuit.css.git

[submodule "app/Vendor/php-markdown"]
	path = app/Vendor/php-markdown
	url = git://github.com/michelf/php-markdown.git
[submodule "app/Plugin/Composer"]
	path = app/Plugin/Composer
	url = git://github.com/uzyn/cakephp-composer.git
[submodule "app/Plugin/Migrations"]
	path = app/Plugin/Migrations
	url = https://github.com/CakeDC/migrations.git
